<!--==========================
  About Section
  ============================-->
<section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">¿Quiénes somos?</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Bienvenido a Estudia Fácil BCN, aquí encontrarás el perfil de profesor particular que se ajuste a tus necesidades
        </p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">



      <div class="col-md-6">
        <div class="col-md-12 about-img"></div>

      </div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">
          <h4 class=" about-title ">Clases a medida</h4>
          <p class="about-text ">
            En Estudia Fácil BCN trabajamos profesores y psicopedagógos, con años de experiencia, ofreciendo clases particulares a domicilio
            adaptadas a las necesidades que marcan nuestros alumnos y padres de alumnos. Tenemos una gran variedad de profesores
            que nos permiten ofrecer un servicio muy extenso y compartimentado.
          </p>
          <h4 class="about-title">¿Qué clase se te resiste?</h4>
          <p class="about-text ">
            Con nuestros profesores particulares, las asignaturas difíciles son cosa del pasado. Ofrecemos clases particulares a domicilio
            de todo tipo: ciencias, lenguas y letras para primaria, E.S.O. y bachillerato.
          </p>

        </div>
      </div>
    </div>

  </div>
</section>