<!--==========================
  Header Section
  ============================-->
<header id="header" style="">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="#hero">
        <img src="{{logo}}" alt="{{logoCaption}}" title="{{logoTitle}}"></img>
      </a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active">
          <a href="#hero">Home</a>
        </li>
        <li>
          <a href="#about">¿Quiénes somos?</a>
        </li>
        <li>
          <a href="#services">Aprueba con nota</a>
        </li>
        <li>
          <a href="#contact">Contacto</a>
        </li>
        <li>
          <a href="#">Accede al Moodle</a>
        </li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->