<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}}
      <div class="hero-logo">
        <img class="" src="public/img/logohannah.png" alt="The Beute Clinic logo">
      </div>

      <h1>{{h1Title}}</h1>
      <h2>We care
        <span class="rotating">about your feet, about your health, about your happiness :)</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started">Book an appointment</a>
        <a href="#services" class="btn-services">Check all Treatments</a>
      </div>


      <div class="container">
        <div class="row" style="height: 30px;">
          <div class="col-lg-3 col-lg-push-9 hidden-md hidden-xs hidden-sm">
            <span style="color:white!important;">The Beute Clinic is part of</span>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-12 hidden-md hidden-xs hidden-sm">
            <div class="col-lg-1 col-lg-push-10">
              <a target="_blank" href="https://finder.bupa.co.uk/Consultant/view/224805/Miss%20Hannah%20Beute">
                <img src="public/img/bupa.png " style="width:80px;height:80px; margin: 5px 0;" alt="The Beute Clinic is part of BUPA">
              </a>
            </div>
            <div class="col-lg-1 col-lg-push-10">
              <a target="_blank" href="">
                <img src="public/img/hcpc.jpg" style="width:80px;height:80px; margin: 5px 0;" alt="The Beute Clinic is part of the HCPC">
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <p> {{msg}}</p>
</section>