<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}}
      <div class="hero-logo">
        <img class="" src="" alt="Estudia fácil BCN logo">
      </div>

      <h1>{{h1Title}}</h1>
      <h2>Encuentra el profesor particular
        <span class="rotating">para la asignatura que necesitas, con la experiencia requerida, a la hora y lugar que precises :)</span>
      </h2>
      <div class="actions">
        <a href="#services" class="btn-get-started">¡Aprueba con nota!</a>
        <a href="#contact" class="btn-services">Ponte en contacto</a>
      </div>





    </div>
  </div>

  <p> {{msg}}</p>
</section>