<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">¡Aprueba con nota!</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Pasos a seguir</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">1</a>
            </h4>
            <p class="service-description">Rellena el formulario de contacto o llámanos al número de teléfono [INSERTAR NÚMERO]</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="">2</a>
            </h4>
            <p class="service-description">Te proporcionaremos el profesor que más se ajuste a tus necesidades</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="">3</a>
            </h4>
            <p class="service-description">Recibirás una valoración periódica de las clases que te han sido impartidas y acceso a nuestra intranet con herramientas
              de asesoramiento y control.</p>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>





    </div>




  </div>


</section>